<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}extjs/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/animated-dataview.css" />
    <link href="http://vjs.zencdn.net/4.1/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.1/video.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/swfobject.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/moment.js"></script>
   
   
    <script type="text/javascript" src="{{STATIC_URL}}extjs/ext-dev.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}extjs/ext-lang-en.js"></script>
    
    


</head>
<body>
  
</body>

	<script type="text/javascript" charset="utf-8">
	
	Ext.Loader.setConfig({
		enabled: true,
		paths:{
			
			'Ext.ux': '{{STATIC_URL}}ux/',
			'Django':'{{STATIC_URL}}js'
			
		  }
		});
		//Ext.Loader.setPath('Ext.ux.DataView', 'ux/DataView/');
   

	Ext.require([
	    'Ext.data.*',
	    'Ext.window.Window',
	    'Ext.util.*',
	    'Ext.grid.plugin.BufferedRenderer',
	    'Ext.view.View',
	    'Ext.XTemplate',
	    'Ext.panel.Panel',
	    'Ext.toolbar.*',
	    'Ext.slider.Multi',
	    'Ext.tab.Panel',
	    'Ext.layout.container.Border',
	    'Ext.container.Viewport',
	    'Django.classe.DataVideoView',
	    'Ext.ux.DataView.Animated'
	]);
	
	
	
	  Ext.onReady(function(){
			
			var tabs = Ext.widget('tabpanel', {
			 	region: 'center',
				defaults :{
		            bodyPadding: 2
		        },
		        items: [
		               {
		                title: 'Ajax Tab 2',
		               // autoRender:true,
		                id:'video-tag',
		                layout: 'border',
		                //layout: 'absolute',
		                //padding: 0,
		                listeners: {
		                    activate: function(tab) {
		                        
		                       if(!this.videoTab){
		                       
		                       		this.videoTab = Ext.create('Django.classe.DataVideoView',{idContent:'video-tag'})
		                       }
		                        
		                    }
		                }
		            }
		            ]
		    });
    
			Ext.create('Ext.container.Viewport', {
				    layout: 'border',
				    items: [{
				        region: 'north',
				        html: '<h1 class="x-panel-header">Page Title</h1>',
				        border: false,
				        margins: '0 0 5 0'
				    }, {
				        region: 'west',
				        collapsible: true,
				        title: 'Navigation',
				        width: 150
				        // could use a TreePanel or AccordionLayout for navigational items
				    },
				     tabs]
				});
			
			
		});
		
	</script>

</html>